body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 5px;
    font-size: 16px;
  }
  
  table {
    border-collapse: collapse;
    width: auto;
    max-width: 100%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .scrollable-table {
    overflow-y: auto;
  }
  
  /* Responsive Styles */
  @media (max-width: 600px) {
    body {
      padding-top: 20px;
    }
    input[type="text"] {
      width: 80%;
      max-width: 300px;
    }
  }
  
  footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
  }
  